@model EntityLayer.Borrow
@{
    ViewBag.Title = "Ödünç Kitap Güncelleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("BorrowUpdate", "BorrowBooks", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori Adı")
    @Html.DropDownListFor(x => x.UserId, (List<SelectListItem>)ViewBag.users, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Adı")
    @Html.DropDownListFor(x => x.BookId, (List<SelectListItem>)ViewBag.books, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(model => model.BorrowDate, new { @type = "date", @class = "form-control" })
    <br />
    @Html.TextBoxFor(model => model.BringDate, new { @type = "date", @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}

