@using EntityLayer
@model List<BorrowRequest>
@{
    ViewBag.Title = "Ödünç Alma İstekleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsteyen Kişi</th>
            <th>Kitap Adı</th>
            <th>İstenilen Tarih</th>
            <th>Getirilecek Tarih</th>
            <th>Durum</th>
            <th>Onayla</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.User.UserName @item.User.UserSurname</td>
                <td>@item.Book.BookName</td>
                <td>@item.BorrowDate</td>
                <td>@item.BringDate</td>
                @if (item.Given == true)
                {
                    <td>Verildi</td>
                }
                else
                {
                    <td>Beklemede</td>
                }
                <td><a class="btn btn-success" href="/BorrowBooks/RequestApprove/@item.Id">Ekle</a></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>İsteyen Kişi</th>
            <th>Kitap Adı</th>
            <th>İstenilen Tarih</th>
            <th>Getirilecek Tarih</th>
            <th>Durum</th>
            <th>Onayla</th>
        </tr>
    </tfoot>
</table>
