@using EntityLayer
@model List<Writer>
@{
    ViewBag.Title = "Yazarlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string status = "";}
@{ string statusButton = "";}

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad Soyad</th>
            <th>Kitap Adeti</th>
            <th>Güncelle</th>
            <th>Aktif Ya Da Pasif Yap</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status == true)
            {
                status = "Pasif Yap";
                statusButton = "btn btn-danger";
            }
            if (item.Status == false)
            {
                status = "Aktif Yap";
                statusButton = "btn btn-success";
            }
            <tr>
                <td>@item.Id</td>
                <td>@item.WriterName @item.WriterSurname</td>
                <td>@item.Books.Count()</td>
                <td><a href="/Writer/WriterUpdate/@item.Id" class="btn btn-warning">Güncelle</a></td>
                <td><a href="/Writer/ActiveOrPassive/@item.Id" class="@statusButton">@status</a></td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Ad Soyad</th>
            <th>Kitap Adeti</th>
            <th>Güncelle</th>
            <th>Aktif Ya Da Pasif Yap</th>
        </tr>
    </tfoot>
</table>
<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>

