@using EntityLayer
@model List<User>
@{
    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
    <div class="col-md-3">
        <h4>Üye Adı Soyadı</h4>
        <label>@item.UserName @item.UserSurname</label>
        <br />
        <h4>Üye Tc Kimlik Numarası</h4>
        <label>@item.UserIdNumber</label>
        <br />
        <h4>Üye Telefon Numarası</h4>
        <label>@item.UserPhone</label>
        <br />
        <h4>Kayıt Tarihi</h4>
        <label>@item.SignDate</label>
        <br />
        <h4>Üye Durumu</h4>
        @if (item.UserStatus == true)
        {
            <label>Aktif</label>
            <br />
        }
        else
        {
            <label>Pasif</label>
            <br />
        }
        <h4>Üye Yetkisi</h4>
        @if (item.Role == "A")
        {
            <label>Admin</label>
            <br />
        }
        else
        {
            <label>Üye</label>
            <br />
        }
    </div>
}
<div class="col-md-9">
    <a href="/UserPanel/UserUpdate/@ViewBag.userid" class="btn btn-info">Profili Düzenle</a>
</div>

